.row.links
  .col-xs-1.col-md-1
  .col-xs-10.col-md-10
    %h2.margin-top0 Resources
    %ul
      %li
        %a{ href: "/topics/gitops/" }
          What is GitOps?
      %li
        %a{ href: "/blog/2019/11/04/gitlab-for-gitops-prt-1/" }
          Why collaboration technology is critical for GitOps
      %li
        %a{ href: "/blog/2019/07/01/using-ansible-and-gitlab-as-infrastructure-for-code/" }
          How to use GitLab and Ansible to create infrastructure as code
      %li
        %a{ href: "https://about.gitlab.com/why/gitops-infrastructure-automation/" }
          [Expert Panel Discussion] GitOps: The Future of Infrastructure Automation
      %li
        %a{ href: "https://www.youtube.com/watch?list=PL05JrBw4t0KoixDjLVMzKwVgx0eNyDOIo&v=JtZfnrwOOAw" }
          GitOps Video Playlist
%hr.divider
