---
layout: default
title: GitLab Pricing
description: "See the options to self-host GitLab or use GitLab.com."
canonical_path: "/pricing/"
suppress_header: true
cta_contact_title: "Still have questions? Get in touch."
cta_contact_subtitle: "We're here to help. Talk to an expert today."
cta_contact_button_primary_text: "Contact Sales"
cta_contact_button_primary_url: "/sales/"
cta_contact_single_button: true
disable_default_styles: true
disable_handbook_styles: true
manual_cookiebot: true
extra_css:
  - pricing2020.css
extra_js:
  - libs/slick.min.js
  - pricing.js
  - leap.js
ab_test: false
test_id: 11850
---
.pricing-page
  - if current_page.data.ab_test == true
    = partial "/experiments/structure", locals: { experiment_id: "#{current_page.data.test_id}", experiment_flag: "pricing-#{current_page.data.test_id}"}

  - else 
    = partial "/includes/pricing-control"

  .container.slp-container#cta-learn
    .row.faq.text-center.u-padding-bottom-sm
      .cmp-cta-learn
        .content-wrapper
          .copy-wrapper
            %h3 Learn how GitLab's Open DevOps Platform can help you.
            %p.u-margin-bottom-0 Achieve efficiencies and improve velocity while staying secure and compliant.
          .button-wrapper
            %a{class: "btn cta-btn orange-light", href: "/sales/"} Talk to an expert

  .container.slp-container#faq
    .row.faq.text-center.u-padding-top-md.u-padding-bottom-md
      %h2.text-center Frequently asked questions
      .faq-holder.text-left
        = partial 'includes/layout/faq_list'

  .row#ask-us-anything
    .u-padding-top-md
      .container.container2020
        = partial "includes/components/cta-contact"
